.video_player{
  margin: 1rem;
}


.imagee img{
  height:2.5rem;
  width:2.5rem;
}
* {
  box-sizing: border-box;
}

.fab-wrapper {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  color:white;
}
.fab-checkbox {
  display: none;
}
.fab {
  position: absolute;
  bottom: -1rem;
  right: -1rem;
  width: 100px;
  height: 100px;
  background: blue;
  border-radius: 50%;
  background: white;
  box-shadow: 0px 5px 20px #81a4f1;
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0.3;
  border-bottom-right-radius: 6px;
  border: 1px solid #0c50a7;
}
.aline{
  align-content: center;
  height:10rem;
}
.tesst{
  font-size:5rem;
}
.fab:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.hello{
  z-index: 2;
}
.myimp{
  margin-top:0.5rem;
}
